.vs/

ChatApp/bin/
Chatapp/obj/
ChatApp/bin/Release/net6.0/ChatApp.dll
ChatApp/obj/Release/net6.0/ChatApp.pdb
.vs/ChatApp/v17/.suo
ChatApp/bin/Release/net6.0/ChatApp.dll
ChatApp/bin/Release/net6.0/ChatApp.pdb
ChatApp/obj/Release/net6.0/ChatApp.dll
ChatApp/obj/Release/net6.0/ChatApp.pdb
